.field_wrapper {
  width: 600px;
  margin: auto;
  margin-bottom: 40px;

  display: flex;

  position: relative;
}

.field {
  width: 100%;
  height: 40px;
  border: 1px solid #494949;
  border-radius: 15px;
  padding: 0 35px;

  color: inherit;
  font-size: 16px;

  outline: none;
}

.icon_search {
  position: absolute;
  top: 50%;
  left: 10px;

  transform: translateY(-50%);
}

.btn_reset {
  height: 30px;
  border: none;

  background-color: transparent;

  color: #494949;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 50%;
  right: 0;

  transform: translateY(-50%);

  cursor: pointer;
  transition: opacity 250ms ease;
}

.btn_reset:hover {
  opacity: 0.5;
}
