.form {
  width: 300px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.title {
  margin: 0 0 25px;

  text-align: center;
  font-size: 20px;
  font-weight: 600;
}

.input_wrapper {
  display: flex;
  flex-direction: column;

  position: relative;
}

.label {
  padding: 0 3px;

  background-color: #ffffff;

  position: absolute;
  transform: translate(23px, -11px);
}

.icon {
  position: absolute;
  transform: translate(5px, 7px);
}

.input {
  height: 30px;
  margin-bottom: 2px;
  padding-left: 30px;

  font-size: 16px;
}

.input:focus {
  outline: none;
}

.btn_submit {
  height: 30px;
  border: none;

  background-color: #f6f6f6;

  color: #494949;

  cursor: pointer;
  transition: opacity 250ms ease;
}

.btn_submit:hover {
  opacity: 0.5;
}

.err {
  margin-bottom: 7px;

  color: #de3535;
  height: 10px;
  font-size: 12px;
}

.err:last-of-type {
  margin-bottom: 15px;
}
